<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class='homelist'>
      <li><a href='/home'>Home</a></li>
      <li><a href='/hobbies'>Hobbies</a></li>
      <li><a href='/career'>Career</a></li>
    </ul>
  </div>
</nav>

<div>
  <ul><h3>CAREER</h3>
    <li>Investment Banker</li>
    <li>Guitar Salesman</li>
    <li>Musician</li>
  </ul>
</div>
