<div class='menu'>
    <ul class='menulist'>
      <li><a href='/home'>HOME</a></li>
      <li><a href='/hobbies'>HOBBIES</a></li>
    </ul>
</div>

<div id='homediv1'>
  <ul>
    <li>Finance</li>
    <li>Musician</li>
    <li>Racecar Driver</li>
  </ul>
</div>
