<div class='main'>
  <div class='menu'>
      <ul class='menulist'>
        <li><a href='/hobbies'>HOBBIES</a></li>
        <li><a href='/career'>CAREER</a></li>
      </ul>
  </div>

<<<<<<< HEAD
<div id='homediv1'>
  <h3>About Me</h3>
  <p>I grew up in Davis county and right out of college I joined a rock band and<br>
   toured the country for 2 years as a musician. When I grew tired of living out<br>
   of a 15 passenger van, and eating off Taco Bells $1 menu, I moved to Denver, CO.<br>
   There I met my wife Peri, and in 2012 she gave birth to my son and best bud Nolan.<br>
   After 10 years in Colorado we moved back to Utah. Even though I grew up in Utah<br>
   I still claim to be from Colorado, that's how much we loved it.
   <br>
   <br>
   Since leaving ColoRADo I've been in investment banking, and I've hated it<br>
   since the day I started. This winter I decided I'd had enough and started to learn<br>
   HTML/CSS through Codecademy. Shortly after I knew that was the direction I <br>
   wanted to take. I called up DevPoint to get some info and subsequently I applied.<br>
   After an interview with Will I was sold, and was accepted into DevPoint a few days <br>
   later. The day after I was accepted I resigned from my job of 10 years. I sent my<br>
   manager my resignation letter in HTML... fitting end to a new start.
  </p>
</div>
<div id='homediv2'>
  <!--button class='btn btn-success'>OH SHIT</button>-->
  <img src='/images/twitter.png'>
=======
  <div id='homediv1'>

    <p>I grew up in Davis county and right out of college I joined a rock band and<br>
     toured the country for 2 years as a musician. When I grew tired of living out<br>
     of a 15 passenger van, and eating off Taco Bells $1 menu, I moved to Denver, CO.<br>
     There I met my wife Peri, and in 2012 she gave birth to my son and best bud Nolan.<br>
     After 10 years in Colorado we moved back to Utah. Even though I grew up in Utah<br>
     I still claim to be from Colorado, that's how much we loved it.
     <br>
     <br>
     Since leaving ColoRADo I've been in investment banking, and I've hated it<br>
     since the day I started. This winter I decided I'd had enough and started to learn<br>
     HTML/CSS through Codecademy. Shortly after I knew that was the direction I <br>
     wanted to take. I called up DevPoint to get some info and subsequently I applied.<br>
     After an interview with Will I was sold, and was accepted into DevPoint a few days <br>
     later. The day after I was accepted I resigned from my job of 10 years. I sent my<br>
     manager my resignation letter in HTML... fitting end to a new start.
    </p>
  </div>
  <div id='homediv2'>
    <!--button class='btn btn-success'>OH SHIT</button>-->
    <img class='imgmiddle' src='/images/jacob.jpg'>
  </div>
<div>
<img src='/images/twitter.png'>
>>>>>>> e4697cfb4c6b5aeea5e93872db2ba69491e4ba5e
</div>
