*{
  color:black;
}

body {
  background-image: url(/images/background.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

}

.menulist li{
  display: inline-block;
  font-size: 20px;
  padding:1.5em;

}

.menu {
  margin-left:9.5em;
  color:white;

}


#homediv1{
  display:inline-block;
  margin-left: 200px;
}

#homediv2 {
  display:inline-block;
  margin-left: 100px;


}


.imgmiddle{
  vertical-align: bottom;
  width: 275px;
  height: 275px;

}
<<<<<<< HEAD

.twitter {
  width: 30em;

=======
 a{
   color:black;
 }

.main{
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
>>>>>>> e4697cfb4c6b5aeea5e93872db2ba69491e4ba5e
}
