*{
  color:black;
}

body {
  background-image: url(/images/background.jpg);
  position: relative;
  background-size: 120%;
  background-repeat: no-repeat;

}

html{
  background-color: white;
  
}
.menulist li{
  display: inline;

 }

.menu ul{
  margin-top:0px;

}


#homediv1{
  display:inline-block;
  margin-top: 100px;
  margin-left: 200px;
}

#homediv2 {
  display:inline-block;
  margin-left: 100px;


}


.imgmiddle{
  vertical-align: bottom;
  width: 275px;
  height: 275px;

}
